/*Antd imported here*/
@import "antd-mobile/dist/antd-mobile.min.css";

/*Google Font imported here*/
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"

model-viewer {
    width:500px;
    height:500px;
    margin : 0 0 0 0
}