/*Antd imported here*/
@import "antd-mobile/dist/antd-mobile.min.css";

/*Google Font imported here*/
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

@font-face {
  font-family: 'PixelMPlus';
  src: local('PixelMPlus'), url(./assets/fonts/PixelMplus12-Regular.ttf) format("truetype");
}

* {
    box-sizing : border-box;
}

body {
    padding: 0;
    {/*overflow: auto;*/}
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;    
}
